#carouselExampleIndicators {
    margin: 10px;
}

.carousel-inner{
    height: 93vh ;
}

.carousel-indicators {
    z-index: 1; /* para que no tape al nav*/
}

.carousel-caption {
    margin-bottom: 30vh;
}

.carousel-caption h1 {
    font-size: 1000%;
}

.carousel-caption p {
    font-size: 50px;
}

