/* ---------------------*/
/*     Hero Section     */
/* ---------------------*/

.hero-section-div img {
    width: 100%;
}

.hero-section-div {
    position: relative;
    display: block;
    color: white;
    z-index: 1; /* para que no tape al nav*/
}

.hero-section-div div { /*(texto de herosection)*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -50%);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    font-size: 12vw;
}

